h1 {
  position: absolute;
  top: 50%;
  left: 45%;
}

h2 {
  position: absolute;
  top: 55%;
  left: 46.5%;
}

h3 {
  position: absolute;
  top: 0;
  left: 0;
}

h4 {
  position: absolute;
  right: 0;
  bottom: 0;
}

img {
  position: absolute;
  top: 55%;
  left: 46.5%;
}
