h1 {
  text-align: center;
  background-color: grey;
  color: red;
}

h2 {
  color: rgb(20, 24, 255);
}

h3 {
  color: rgb(20, 24, 255);
}

img {
  box-shadow: 10px 10px 5px black;
}

section {
  background-color: #000;
}

p {
  font-size: 15px;
  color: gray;
}

ul {
  border-style: solid;
  color: gray;
}
