h1 {
  text-align: center;
  background-color: pink;
  color: rosybrown;
}

h2 {
  color: lightpink;
}

h3 {
  color: darkorchid;
}

img {
  box-shadow: 10px 10px 5px black;
}

section {
  background-color: #000;
}

p {
  font-size: 15px;
  color: darksalmon;
}

ul {
  border-style: solid;
  color:black;
}
